body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
}
nav ul{
    list-style: none;
    padding: 0;
}
nav ul li{
   display: inline;
   margin-right: 20px; 

}
section{
    background-color: white;
    padding: 20px;
    margin: 10px;
    text-align: center;

}
footer{
background-color: black;
color: white;
text-align: center;
padding: 10px 0;
position: fixed;
bottom: 0;
}
